:root {
  --bg-clr: #102432;
  --bg-light-color: #152f40;
  --text-clr: #ffffff;
  --accent-clr: #ffda17;
  /* e88e29 df8118 ffda17 */
  /*========== Colors ==========*/
  --first-color: #ffda17;
  --first-color-light: #152f40;
  --body-color: #102432;

  /*========== Font and typography ==========*/
  --body-font: "Quicksand", sans-serif;
  --normal-font-size: 1rem;
}
/* reset default styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-size: 100%;
  font-weight: 400;
  font-family: Poppins;
}

section {
  margin: 8rem;
  height: 100hv;
}
